.header {
    background-image: url(../Assets/Hero-bg.png);
}

/* Nav Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin: 0 20px;
}

nav ul li {
    list-style: none;
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder !important;
    font-size: 34px;
    color: #4E47FF;


}

.nav-button {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #4E47FF;
    border: none
}

.banner {
    text-align: center;
    padding: 20px 40px 150px;

}

.banner-title {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #252432;
}

.banner-button {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #4E47FF;
    border: none;
    margin-top: 20px;
}

/*main section*/
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* Hero Image */

.preview {
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap: 50px;
    padding: 60px 20px;
    margin: 80px 170px 150px 120pz;
}

.preview-text {
    text-align: left;

}

.preview img {
    width: 400px;
    height: 300px;
    border-radius: 40px;
}

.preview-title {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 42px;
    color: #252432;
}

.preview-para {
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-size: 18px;
    left: auto;
    color: #252432;
    margin-top: 23px;
    text-align: left;


}

.preview-button {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #4E47FF;
    border: none;
    margin-top: 20px;
}

/*user section*/
.users {
    padding: 50px 80px;
    border-radius: 24px;
    text-align: center;
    background-color: #d7dee8;
    margin-top: 150px;
    margin-bottom: 130px;
}

.users-title {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 38px;
    color: #252432;
    margin-bottom: 40px;
}

.users-stat-container {
    display: flex;
    justify-content: space-around;

}


.stat-number {
    font-family: inter, sans-serif;
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
}

.stat-label {
    font-family: inter, sans-serif;
    font-weight: regular;
    font-size: 20px;
    color: #252432;
    margin-top: 10px;
}

/*user reviews section*/


.reviews-title {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 42px;
    color: #252432;
    text-align: center;
}

.reviews-container {
    display: flex;
    justify-content: space-around;
    gap: 24px;
    padding: 24px;



}


.reviews-item {
    background-color: rgb(239, 239, 251);
    border-radius: 24px;
    padding: 24px;
}

.designer {
    font-family: Ag heading, sans-serif;
    font-weight: bold;
    color: #1E1E1E;
    font-size: 30px;
}

.description {
    font-family: Ag Body Base, sans-serif;
    color: #1E1E1E;
}

.reviewer-info {
    display: flex;
    gap: 10px;
}

.reviewer {
    font-family: Ag, sans-serif;
    font-weight: bold;
}